.mac-book-pro-16-14,


.mac-book-pro-16-14 * {
  box-sizing: border-box;
}
.mac-book-pro-16-14 {
  background: #ffffff;
  width: 1728px;
  height: 2757px;
  position: relative;
  overflow: visible;
}


.shell {
  position: absolute;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  height: 400px;
  gap: 10rem;
  align-items: start;
  left: 223px;
  top: 2100px;
  padding: 100px;
  width: 1200px
}

.shell>div {
  block-size: 350px;
  background-color: #efefef;
  aspect-ratio: 1;
  border-radius: 10px;

  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 5px rgba(252, 252, 252, 0.3);
}


.item {
  display: flex;
  align-items: center; 
  gap: 10px;  
  position: absolute;
  height: 400px;
  width: 500px
} 

 .group-107 {
  position: relative;
  left: 220px;
  top: -28px;

  overflow: visible;
}
.group-108 {
  position: relative;
  left: 20px;
  top: -360px;
  overflow: visible;
}
.rectangle-72 {
  background: #d9d9d9;
  border-radius: 40px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 295px;
  height: 57px;
  position: relative;
  left: 24px;
  top: -435px;
}
.image {
  width: 323px;
  height: 162px;
  position: relative;
  left: 9px;
  top: -731px;
}
.discover-more {
  color: #ffffff;
  text-align: left;
  font: 400 28px/65.5px "Jost", sans-serif;
  position: relative;
  left: 64px;
  top: -493px;
  width: 219px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.description {
  color: #f4f3d8;
  text-align: left;
  font: 700 30px/49.5px "Roboto", sans-serif;
  position: relative;
  left: 54px;
  top: -967px;
  width: 270px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
