.things-to-do * {
  box-sizing: border-box;
}

.things-to-do {
  /* z-index: 10; */
  background: #8A946E;
  /* width: 100%; */
  width: 1728px;
  /* height: 2757px; */
  position: relative;
  overflow: hidden; 
}

.things-to-do {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.things-to-do .overlap-wrapper {
  background-color: #ffffff;
  height: 2344px;
  overflow: hidden;
  width: 1728px;
}

.things-to-do .overlap {
  height: 2412px;
  left: -77px;
  position: relative;
  width: 1862px;
}

.things-to-do .background {
  height: 2412px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1862px;
}

.things-to-do .overlap-group {
  height: 2344px;
  left: 77px;
  position: relative;
  width: 1728px;
}

.things-to-do .rectangle {
  height: 1443px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1726px;
}

.things-to-do .image {
  height: 1443px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1728px;
}

.things-to-do .group {
  height: 927px;
  left: 0;
  position: absolute;
  top: 1417px;
  width: 1726px;
}

.things-to-do .calendar-of-events {
  height: 460px;
  left: 137px;
  position: absolute;
  top: 1827px;
  width: 1591px;
  overflow-x: auto;
  overflow-y: hidden;
}

.things-to-do .div {
  height: 460px;
  position: relative;
  width: 2040px;
}

.things-to-do .overlap-2 {
  height: 460px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1589px;
}

.things-to-do .img {
  height: 39px;
  left: 697px;
  position: absolute;
  top: 53px;
  width: 892px;
}

.things-to-do .overlap-3 {
  height: 460px;
  left: 0;
  position: absolute;
  top: 0;
  width: 971px;
}

.things-to-do .text-wrapper {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 600;
  height: 146px;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 0;
  width: 629px;
}

.things-to-do .open-garden-day {
  height: 328px;
  left: 38px;
  position: absolute;
  top: 133px;
  width: 404px;
}

.things-to-do .overlap-group-2 {
  height: 328px;
  position: relative;
  width: 400px;
}

.things-to-do .group-2 {
  height: 328px;
  left: 0;
  position: absolute;
  top: 0;
  width: 253px;
}

.things-to-do .group-3 {
  height: 328px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 347px;
}

.things-to-do .rectangle-2 {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 40px;
  height: 57px;
  left: 53px;
  position: absolute;
  top: 249px;
  width: 295px;
}

.things-to-do .discover-more {
  color: #ffffff;
  font-family: "Jost", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 58px;
  left: 107px;
  letter-spacing: 0;
  line-height: 65.5px;
  position: absolute;
  top: 248px;
  white-space: nowrap;
  width: 204px;
}

.things-to-do .image-2 {
  height: 162px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 323px;
}

.things-to-do .text-wrapper-2 {
  color: #f4f3d8;
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 70px;
  left: 66px;
  letter-spacing: 0;
  line-height: 49.5px;
  position: absolute;
  top: 0;
  width: 270px;
}

.things-to-do .woodchop {
  height: 331px;
  left: 567px;
  position: absolute;
  top: 129px;
  width: 404px;
}

.things-to-do .overlap-4 {
  height: 331px;
  position: relative;
  width: 400px;
}

.things-to-do .group-4 {
  height: 328px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 253px;
}

.things-to-do .group-5 {
  height: 328px;
  left: 54px;
  position: absolute;
  top: 4px;
  width: 347px;
}

.things-to-do .rectangle-3 {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 40px;
  height: 57px;
  left: 53px;
  position: absolute;
  top: 253px;
  width: 295px;
}

.things-to-do .discover-more-2 {
  color: #ffffff;
  font-family: "Jost", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 58px;
  left: 108px;
  letter-spacing: 0;
  line-height: 65.5px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 205px;
}

.things-to-do .image-3 {
  height: 162px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 70px;
  width: 323px;
}

.things-to-do .text-wrapper-3 {
  color: #f4f3d8;
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 70px;
  left: 130px;
  letter-spacing: 0;
  line-height: 49.5px;
  position: absolute;
  top: 0;
  width: 250px;
}

.things-to-do .bakeoff {
  height: 331px;
  left: 1096px;
  position: absolute;
  top: 129px;
  width: 404px;
}

.things-to-do .rectangle-4 {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 40px;
  height: 57px;
  left: 55px;
  position: absolute;
  top: 253px;
  width: 294px;
}

.things-to-do .discover-more-3 {
  color: #ffffff;
  font-family: "Jost", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 58px;
  left: 108px;
  letter-spacing: 0;
  line-height: 65.5px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
  width: 204px;
}

.things-to-do .event {
  height: 162px;
  left: 38px;
  position: absolute;
  top: 70px;
  width: 324px;
}

.things-to-do .text-wrapper-4 {
  color: #f4f3d8;
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 69px;
  left: 140px;
  letter-spacing: 0;
  line-height: 49.5px;
  position: relative;
  top: 0;
  width: 250px;
}


.new-event-1 {
  position: absolute;
  height: 331px;
  width: 404px;
  top: 129px;
}


.new-event-1 {
    left: 1600px;  
}


.things-to-do .historical-walk {
  height: 450px;
  left: 110px;
  position: absolute;
  top: 1377px;
  width: 1667px;
}

.things-to-do .explore-lyonville-s {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 170px;
  left: 874px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 204px;
  width: 659px;
}

.things-to-do .text-wrapper-5 {
  color: #1e1e1e;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 600;
  height: 125px;
  left: 1085px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 27px;
  width: 578px;
}

.things-to-do .box {
  height: 57px;
  left: 1054px;
  position: absolute;
  top: 393px;
  width: 382px;
}

.things-to-do .overlap-group-3 {
  height: 57px;
  position: relative;
  width: 380px;
}

.things-to-do .text-wrapper-6 {
  color: #000000;
  font-family: "Jost", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 57px;
  left: 0;
  letter-spacing: 0;
  line-height: 65.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 380px;
}

.things-to-do .rectangle-5 {
  border: 2px solid;
  border-color: #000000;
  border-radius: 40px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 380px;
}

.things-to-do .picture {
  height: 401px;
  left: 0;
  position: absolute;
  top: 0;
  width: 712px;
}

.things-to-do .overlap-5 {
  height: 401px;
  position: relative;
}

.things-to-do .rectangle-6 {
  height: 380px;
  left: 0;
  position: absolute;
  top: 0;
  width: 666px;
}

.things-to-do .image-4 {
  height: 374px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 666px;
}

.things-to-do .walk-ride-picnic {
  height: 1103px;
  left: 117px;
  position: absolute;
  top: 230px;
  width: 1656px;
}

.things-to-do .picture-2 {
  height: 350px;
  left: 706px;
  position: absolute;
  top: 59px;
  width: 933px;
}

.things-to-do .left-group {
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 420px;
}

.things-to-do .text-wrapper-7 {
  color: #000000;
  font-family: "Jost", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 42px;
  left: 0;
  letter-spacing: 0;
  line-height: 49.5px;
  position: absolute;
  text-align: center;
  top: 308px;
  white-space: nowrap;
  width: 418px;
}

.things-to-do .nature {
  height: 299px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 418px;
}

.things-to-do .right-group {
  height: 350px;
  left: 515px;
  position: absolute;
  top: 0;
  width: 420px;
}

.things-to-do .nature-2 {
  height: 299px;
  left: 0;
  position: absolute;
  top: 0;
  width: 418px;
}

.things-to-do .overlap-6 {
  height: 326px;
  left: 89px;
  position: absolute;
  top: 0;
  width: 542px;
}

.things-to-do .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 252px;
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 74px;
  width: 501px;
}

.things-to-do .text-wrapper-8 {
  color: #1e1e1e;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 500;
  height: 92px;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 542px;
}

.things-to-do .overlap-group-wrapper {
  height: 57px;
  left: 89px;
  position: absolute;
  top: 326px;
  width: 382px;
}

.things-to-do .text-wrapper-9 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 57px;
  left: 0;
  letter-spacing: 0;
  line-height: 65.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 380px;
}

.things-to-do .map {
  height: 667px;
  left: 0;
  position: absolute;
  top: 436px;
  width: 1652px;
}

.things-to-do .overlap-7 {
  height: 667px;
  position: relative;
}

.things-to-do .rectangle-7 {
  height: 73px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1598px;
}

.things-to-do .image-5 {
  height: 630px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 1598px;
}

.things-to-do .title {
  height: 186px;
  left: 164px;
  position: absolute;
  top: 0;
  width: 927px;
}

.things-to-do .overlap-8 {
  height: 186px;
  position: relative;
  width: 925px;
}

.things-to-do .rectangle-8 {
  background-color: #acb594;
  height: 30px;
  left: 166px;
  position: absolute;
  top: 129px;
  width: 332px;
}

.things-to-do .text-wrapper-10 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 80px;
  font-weight: 700;
  height: 186px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  width: 925px;
}

.things-to-do .shadow-header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.01) 14.93%, rgba(0, 0, 0, 0) 100%);
  height: 133px;
  left: 77px;
  position: absolute;
  top: 0;
  width: 1732px;
}
